.orb {
  position: absolute;
  border-radius: 50%;
  filter: blur(50px);
  mix-blend-mode: multiply;
}

.orb1,
.orb2,
.orb3,
.orb4,
.orb5 {
  animation: flowMotion 15s infinite linear;
}

.orb6 {
  animation: diagonalMotion 12s infinite linear;
}

.orb1 {
  width: 800px;
  height: 800px;
  animation-delay: 0s;
}
.orb2 {
  width: 600px;
  height: 600px;
  animation-delay: -3s;
}
.orb3 {
  width: 400px;
  height: 400px;
  animation-delay: -6s;
}
.orb4 {
  width: 700px;
  height: 700px;
  animation-delay: -9s;
}
.orb5 {
  width: 500px;
  height: 500px;
  animation-delay: -12s;
}
.orb6 {
  width: 550px;
  height: 550px;
  animation-delay: 0s;
}

@keyframes flowMotion {
  0% {
    transform: translate(-50%, -50%);
    background: #c5dbff;
  }
  25% {
    transform: translate(150%, -50%);
    background: #d8ffe6;
  }
  50% {
    transform: translate(150%, 150%);
    background: #ffe6f7;
  }
  75% {
    transform: translate(-50%, 150%);
    background: #e6eeff;
  }
  100% {
    transform: translate(-50%, -50%);
    background: #c5dbff;
  }
}

@keyframes diagonalMotion {
  0% {
    transform: translate(-50%, -50%);
    background: #c5dbff;
  }
  50% {
    transform: translate(150%, 150%);
    background: #ffe6f7;
  }
  100% {
    transform: translate(-50%, -50%);
    background: #c5dbff;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
    scale: 0.5;
    transform: translateY(20px);
  }
  60% {
    opacity: 0.8;
    scale: 0.85;
  }
  100% {
    opacity: 1;
    scale: 1;
    transform: translateY(0);
  }
}

.animate-blocks {
  animation: appear 1s cubic-bezier(0.4, 0, 0.2, 1);
  animation-timeline: view();
  animation-range: entry 10% cover 50%;
}

@keyframes appearright {
  from{
    opacity: 0;
    transform: translateX(-100px);
  }
  to{
    opacity: 1;
    transform: translateX(0px);
  }
}


.animate-right{
  animation: appearright ease-in-out;
  animation-timeline: view();
  animation-range: entry 0% cover 30%;
}

@property --angle{
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
.trip-btn::after, .trip-btn::before{
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: conic-gradient(from var(--angle),#ff4545, #00ff99, blue, #ff0095, #ff4545);
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -1;
  border-radius: 10px;
  animation: 3s spin linear infinite;
}

@keyframes spin{
  from{
    --angle:0deg;
  }
  to{
    --angle:360deg;
  }
}
.trip-btn::before{
  filter: blur(1.5rem);
  opacity: 0.7;
}

.typewriter{
  overflow: hidden;
  border-right: 1px solid;
  animation: typing 2s steps(37) forwards, blink 1s step-end infinite;
}

@keyframes typing{
  from{
    width: 0;
  }
  to{
    width: 100%;
  }
}
@keyframes blink{
  50%{
    border-color: transparent;
  }
}